:root {
  --xd-black: #0c0b0b;
  --xd-white: rgb(250, 250, 250);
  --xd-text-gray: rgba(var(--xd-white), .6);
}

body {
  background-color: var(--xd-black);
  font-family: 'Space Grotesk', sans-serif;
  color: var(--xd-white);
}

h1 {
  font-size: 6em;
  font-weight: bold;
}

p {
  max-width: 600px;
  line-height: 175%;
}

/* Id's & Classes */
#quiz-section {
  display: none;
}

/* Bootstrap */
.btn {
  width: fit-content;
  border-radius: 36px;
  padding: .75rem 1.5rem;
  font-weight: 500;
  border-width: 2px;
  letter-spacing: .5px;
}

.btn.btn-primary {
  background-color: transparent;
  border-color: var(--xd-white);
}

.btn.btn-primary:hover {
  background-color: var(--xd-white);
  color: var(--xd-black);
}